<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.productservice.dao.ProductDAO">
  <resultMap  type="com.example.productservice.domain.ProductInfo" id="ProductInfo">
    <id column="product_id"  property="ProductId" />
    <result column="product_name"  property="ProductName" />
    <result column="product_price"  property="ProductPrice" />
    <result column="product_stock"  property="ProductStock" />
    <result column="product_description"   property="ProductDescription" />
    <result column="category_type"  property="CategoryType" />
    <result column="product_icon"  property="ProductIcon" />
  </resultMap>


  <select id="querryAll" resultMap="ProductInfo">
    SELECT * FROM product_info
    <where>
      <if test="category != null">
         category_type = #{category}
      </if>
    </where>
  </select>

  <select id="getProductById" resultMap="ProductInfo">
    select * from product_info where product_id=#{id}
  </select>

</mapper>

