<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.userservice.dao.LoginDAO">
  <resultMap  type="com.example.userservice.domain.UserMain" id="UserMainResult">
    <id column="id"  property="id" />
    <result column="name"  property="name" />
    <result column="email"  property="email" />
    <result column="nick_name"  property="nickName" />
    <result column="role"   property="role" />
    <result column="create_time"  property="createTime" />
  </resultMap>

  <resultMap  type="com.example.userservice.domain.UserMainDetail" id="UserMainDetail">
    <id column="id"  property="id" />
    <result column="password"   property="password" />
    <result column="phone_number"  property="phoneNumber" />
    <result column="register_time"   property="registerTime" />
  </resultMap>

  <select id="querryIdByName" resultMap="UserMainResult">
    select * from user_main where name=#{name}
  </select>

  <select id="querryById" resultMap="UserMainDetail">
    select * from user_detail where id=#{id}
  </select>

</mapper>

